form{
    margin: 15px;
}
.card-footer {
    display: flex;
    justify-content: right;
}

.cancel-btn {
    margin:5px;
}



.form-check-label{
    justify-content: center;
    align-items: center;
}

